<!--
 * @Author: ChaiHongJun
 * @Date: 2019-09-15 11:03:14
 * @LastEditTime: 2019-09-15 11:24:47
 * @LastEditors: ChaiHongJun
 * @Description: 头部文件注释
 -->
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>V-if,v-else-if,v-else</title>
</head>

<body>
    <div id="app">
        <!-- 直接使用布尔值 -->
        <p>我是<span v-if="true">良民</span>
            <span v-else>恶人</span>
        </p>
        <!-- 使用变量 -->
        <p>你是<span v-if="yes">良民</span>
            <span v-else>恶人</span>
        </p>
        <!-- 使用表达式 -->
        <p v-if="score>=90">优秀</p>
        <p v-else-if="score>=80">良好</p>
        <p v-else-if="score>=70">一般</p>
        <p v-else-if="score>=60">及格</p>
        <p v-else>不及格</p>
        <p>v-if,v-else-if,v-else注意事项： 相互之间要连续不能间隔，另外，如果是取"假值"，则对应的DOM不会被渲染。
        </p>
    </div>
    <!--  引入Vue   -->
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app", //                挂载Vue管理DOM节点
            data: {
                yes: false,
                score: 50,
            },
        });
    </script>
</body>

</html>