<!--
 * @Author: ChaiHongJun
 * @Date: 2019-09-23 10:01:25
 * @LastEditTime: 2019-09-24 15:29:45
 * @LastEditors: ChaiHongJun
 * @Description: 头部文件注释
 -->
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>父子组件双向绑定案例</title>
    <link
      href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron ">
        <div class="container">
          <h1 class="display-6">父子组件双向绑定步骤思路</h1>
          <p class="lead">双向绑定的数据走向:</p>
          <p>0.父组件data => 1.子组件prop => 2.子组件data</p>
          <p>3.子组件data绑定input的value,并监听input事件</p>
          <p>4.子组件监听input值的变化：input变化的value赋值给子组件data</p>
          <p>5.同时子组件通知父组件input有变化，并携带这个新值给父组件</p>
          <p>
            6.父组件通过监听子组件自定义事件，接收来自子组件data的新数据
          </p>
        </div>
      </div>
    </div>
    <div id="app">
      <!-- 父组件监听子组件的自定义事件  并将子组件的数据传递给父组件-->
      <!-- 1.子组件prop通过 ":prop=父组件data" 形式接收父附件data -->
      <!-- 6.父组件通过监听子组件自定义事件，接收来自子组件data的新数据 -->
      <cpn
        :number1="num1"
        :number2="num2"
        @num-one-change="changeOneProp"
        @num-two-change="changeTwoProp"
      >
      </cpn>
    </div>
    <template id="cpn">
      <div>
        <!-- 这样会在控制台报错
              Avoid mutating a prop directly since 
              the value will be overwritten 
              whenever the parent component re-renders. 
              Instead, use a data or computed property based on the prop's value.
              避免直接修改prop,替代方法是使用基于prop值的data或者计算属性
                -->
        <!-- <h2>props：{{number1}}</h2>
            <input type="text" v-model="number1">
            <h2>props：{{number2}}</h2>
            <input type="text" v-model="number2"> -->

        <h2>props：{{ number1 }}</h2>
        <h2>子组件data:{{ cpnNumberOne }}</h2>
        绑定了data
        <!-- 3.子组件data绑定input的value,并监听input事件 -->
        <input type="text" :value="cpnNumberOne" @input="changeOne" />
        <h2>props：{{ number2 }}</h2>
        <h2>子组件data:{{ cpnNumberTwo }}</h2>
        绑定了data
        <input type="text" :value="cpnNumberTwo" @input="changeTwo" />
      </div>
    </template>
    <!--  引入Vue   -->
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js "></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          num1: 1,
          num2: 0
        },
        methods: {
          // 6. 父组件接收来自子组件data的新数据
          changeOneProp(val) {
            this.num1 = parseInt(val);
          },
          changeTwoProp(val) {
            this.num2 = parseInt(val);
          }
        },
        components: {
          cpn: {
            template: "#cpn",
            props: {
              number1: Number,
              number2: Number
            },
            data() {
              // 2. 创建子组件data 接收prop
              return {
                cpnNumberOne: this.number1,
                cpnNumberTwo: this.number2
              };
            },
            methods: {
              //4.监听input事件，input的值传递给子组件data
              changeOne(event) {
                this.cpnNumberOne = event.target.value;
                // 5.同时子组件通知父组件input有变化，并携带这个新值给父组件
                this.$emit("num-one-change", this.cpnNumberOne);
              },
              changeTwo(event) {
                this.cpnNumberTwo = event.target.value;
                this.$emit("num-two-change", this.cpnNumberTwo);
              }
            }
          }
        }
      });
    </script>
  </body>
</html>
